@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color background {{colors.surface.default.hex}};
@define-color surface {{colors.surface_container.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color on_background {{colors.on_surface.default.hex}};

@define-color accent_color @primary;
@define-color window_bg_color @background;

* {
    --primary: {{colors.primary.default.hex}};
    --secondary: {{colors.secondary.default.hex}};
    --background: {{colors.surface.default.hex}};
    --surface: {{colors.surface_container.default.hex}};
    --text: {{colors.on_surface.default.hex}};
}
